h2.page-title {margin-top: 0}
pre {background-color: #191919; color: #fff;}
ul.nav-tabs {margin-bottom: 8px}

div.container a.navbar-brand {
    background: url(/images/logo-34x40.png) no-repeat scroll 12px 4px transparent;
    margin-left: 0;
    padding-left: 52px;
}


span.success {color: #93d44f}
span.error {color: #ff6565}
span.info {color: #eab93d}


ul#build-tabs {margin-top: 24px}

div.projects-dashboard div.col-md-3 {
    padding: 4px;
}
div.projects-dashboard div.dashboard-widget {
    border: 1px solid #f0f0f0;
    font-weight: bold;
    padding: 6px;
    text-align: center;
}

div.dashboard-widget a, a:visited {color: #333}

div.dashboard-widget.failed {background-color: #ff6565}
div.dashboard-widget.success {background-color: #93d44f}
div.dashboard-widget.building {background-color: #77a2fc}

.hideme {display: none}

/** build/view **/

div.build-information {margin-top: 24px}
div.build-information table th {background-color: #f8f8f8;border-right: 1px solid #eaeaea}
div.build-information table th,
div.build-information table td {width: 25%}
div#build-steps ol li {padding: 4px}
