html, body {height: 100%}
#wrap {min-height: 100%; height: auto; margin: 0 auto -55px; padding: 0 0 55px}
#footer {background-color: #222; border-top: 3px solid #111; color: #fff}
#footer .container .credit {margin: 16px 0;}
#footer .text-muted {color: #ddd}

.navbar-brand {font-family: Pacifico, "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 24px}

#footer a:hover, #footer a:visited {color: #efefef}

#footer .nav > li > a:hover,
#footer .nav > li > a:focus {
    text-decoration: none;
    background-color: #111;
}

h2.page-title {margin-top: 0}

div.container a.navbar-brand {
    /*background: url(/images/logo-34x40.png) no-repeat scroll 12px 4px transparent;*/
    margin-left: 0;
    padding-left: 0;
    /*padding-left: 52px;*/
}

span.success {color: #93d44f}
span.error {color: #ff6565}
span.info {color: #eab93d}
.badge-error {background-color: #b94a48}

ul#build-tabs {margin-top: 24px}

div.projects-dashboard div.col-md-3 {
    padding: 4px;
}
div.projects-dashboard div.dashboard-widget {
    border: 1px solid #f0f0f0;
    font-weight: bold;
    padding: 6px;
    text-align: center;
}

div.dashboard-widget a, a:visited {color: #333}

div.dashboard-widget.failed {background-color: #ff6565}
div.dashboard-widget.success {background-color: #93d44f}
div.dashboard-widget.building {background-color: #77a2fc}

.hideme {display: none}

/** build/view **/

div.build-information {margin-top: 24px}
div.build-information table th {background-color: #f8f8f8;border-right: 1px solid #eaeaea}
div.build-information table th,
div.build-information table td {width: 25%}
div#build-steps ol li {padding: 4px}

a.btn.oauth-provider img {vertical-align: middle; width: 16px;}

.callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.callout p:last-child {
    margin-bottom: 0;
}

.callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7;
}
.callout-danger h4 {
    color: #b94a48;
}
.callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
}
.callout-warning h4 {
    color: #c09853;
}
.callout-info {
    background-color: #f4f8fa;
    border-color: #bce8f1;
}
.callout-info h4 {
    color: #3a87ad;
}

ul#user-menu a {line-height: 26px; padding: 12px 6px}
a.user-icon img {border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px}
