<?php
/*
 * Copyright (C) 2013 Kristopher Wilson <kristopherwilson@gmail.com>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to
 * deal in the Software without restriction, including without limitation the
 * rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 * sell copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 */

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                //// Sample Sqlite
                //'driverClass' => 'Doctrine\DBAL\Driver\PDOSqlite\Driver',
                //'params' => [
                //    'path' => realpath(__DIR__ . '/../../data/martha.db')
                //]
            ]
        ],
    ],
    'martha' => [
        'site_url' => 'http://yoursite.com',
        'data-directory' => realpath(__DIR__ . '/../../data/jobs'),
        'build-directory' => realpath(__DIR__ . '/../../data/build'),

        // the following is where Martha loads plugins from. You can make this an array and add
        // paths for any non-standard plugins you may wish to use. Plugin.php will be added to the
        // end of this path to look for plugins.
        'plugin-path' => getcwd() . '/vendor/*/*/src/Martha/Plugin/*/',
        'plugins' => []
    ]
];
