<?php

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                //// Sample Sqlite
                //'driverClass' => 'Doctrine\DBAL\Driver\PDOSqlite\Driver',
                //'params' => [
                //    'path' => realpath(__DIR__ . '/../../data/martha.db')
                //]
            ]
        ],
        'driver' => [
            'martha_driver' => [
                'class' => 'Doctrine\ORM\Mapping\Driver\YamlDriver',
                'cache' => 'array',
                'paths' => [
                    realpath(__DIR__ . '/../../vendor/martha-ci/core/src/Martha/Core/Domain/Entity'),
                    realpath(__DIR__ . '/../../vendor/martha-ci/core/src/Martha/Core/Persistence/Mapping')
                ],
            ],
            'orm_default' => [
                'drivers' => ['Martha\Core\Domain\Entity' => 'martha_driver']
            ]
        ]
    ],
    'martha' => [
        'site_url' => 'http://yoursite.com',
        'data-directory' => realpath(__DIR__ . '/../../data/jobs'),
        'build-directory' => realpath(__DIR__ . '/../../data/build'),
        'plugin-path' => ['./vendor/*/*/*/Martha/Plugin/*/'],
        'authentication' => [
            // valid methods: database, ldap, github
            'method' => 'database',
            //'method' => ['database', 'github'],
            // valid modes: strict, lenient
            'mode' => 'strict',
            'allow_registration' => false,

            // required for GitHub authentication
            'github_client_id' => '',
            'github_client_secret' => '',
            'github_allowed_organizations' => '',
            //'github_allowed_organizations' => ['','']
        ],
        'plugins' => []
    ]
];
